.button, .label, .text-field, .text-area, .list-view, .scroll-pane {
  -fx-font-family: 'Consolas';
}

.button {
  -fx-background-color: #a0a0a058;
  -fx-border-radius: 5px;
  -fx-border-width: 2px;
  -fx-border-color: #e0e0e070;
  -fx-padding: 0px 10px 0px 10px;
}

.button:hover {
  -fx-background-color: #c0c0c070;
}

.greenButton {
  -fx-background-color: #ceeece88;
}
.greenButton:hover {
  -fx-background-color: #defedeaa;
}

.redButton {
  -fx-background-color: #ffcccc88;
}
.redButton:hover {
  -fx-background-color: #ffdcdcaa;
}

.grayBackground {
  -fx-background-color: rgba(141, 141, 141, 0.22);
  -fx-border-width: 1px;
  -fx-border-color: #c0c0c0;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;

}
.lessGrayBackground {
  -fx-background-color: rgba(182, 182, 182, 0.25);
  -fx-border-width: 1px;
  -fx-border-color: #c0c0c0;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;

}

.noBorder {
  -fx-border-width: 0px;
  -fx-border-radius: 5px;
}

.vbox, .hbox {
  -fx-border-width: 0px;
}

.label {
  -fx-label-padding: 2px;
}

.titleLabel {
  -fx-font-size: 23px;
  -fx-font-weight: bold;
  -fx-wrap-text: true;
}

.smallTitleLabel {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}
.instructions {
  -fx-font-size: 14px;
}

.greenButton, .redButton {
  -fx-border-color: rgba(182, 182, 182, 0.53);
}
.smallerTextButtons {
  -fx-font-size: 12px;
  -fx-wrap-text: true;
  -fx-text-alignment: center;

}

.calendar {
  -fx-background-color: rgba(119, 119, 119, 0.15);
  -fx-border-radius: 5px;
  -fx-border-width: 2px;
  -fx-border-color: #e0e0e030;
  -fx-background-radius: 5px;
}
.calendarButton {
  -fx-background-color: rgba(205, 205, 205, 0.13);
  -fx-border-width: 2px;
  -fx-border-color: rgba(224, 224, 224, 0.24);
  -fx-font-size: 12px;

}



