
.button {
    -fx-background-color: rgba(224, 224, 224, 0.35);
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: #e0e0e070;
}
.homeButton {
  -fx-background-color: rgba(168, 224, 168, 0.53);
}
.homeButton:hover {
    -fx-background-color: rgba(206, 255, 206, 0.67);
}
.cookBookButton {
  -fx-background-color: rgba(225, 157, 157, 0.53);
}
.cookBookButton:hover {
    -fx-background-color: rgba(248, 194, 194, 0.67);
}
.inventoryButton {
  -fx-background-color: rgba(248, 216, 95, 0.53);
}
.inventoryButton:hover {
    -fx-background-color: rgba(252, 238, 190, 0.67);
}
.shoppingListButton {
  -fx-background-color: rgba(253, 198, 134, 0.53);
}
.shoppingListButton:hover {
    -fx-background-color: rgba(250, 210, 177, 0.67);
}
.settingsButton {
    -fx-background-color: rgba(182, 180, 180, 0.53);
}
.settingsButton:hover {
    -fx-background-color: rgba(155, 154, 154, 0.67);
}

